<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
    	<li><a href="<%= admin_blog_category_path %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une catégorie de blog</span></a></li>
        <li><a href="<%= admin_list_blog_categories_path %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des catégories de blogs</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
