<p>Bonjour <b><%= "#{@resource.name}" %></b>,</p>

<br />

<p>Votre compte <b>[<%= @resource.profile.name %>]</b> du COCOFCI a été créé.</p>

<p>Veuillez confirmer votre email en cliquant sur le lien ci dessous:</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<br />

<p><b>Administration COCOFCI</b>.</p>
