<% if session[:home_popup_navigation_count] == 1 %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style = "z-index: 10000;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= @front_page_content.home_popup_title %></h4>
        </div>
        <div class="modal-body">
          <% if !@front_page_content.home_popup_video.blank? %>
            <div class="pf_output_container blog_post_image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @front_page_content.home_popup_video %>" frameborder="0" allowfullscreen></iframe>
            </div>
          <% else %>
            <%= image_tag @front_page_content.home_popup_image.url(:front) rescue "" %>
          <% end %>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    //$(window).load(function(){
      $('#myModal').modal('show')
    //});
  </script>
<% end %>
