<%= render "slider" %>

<div class="wrapper">
	<div class="container">
    	<div class="content_block row no-sidebar">
        	<div class="fl-container">
            	<div class="posts-block">
                    <div class="contentarea">

                      <div class="row">
                        <div class="col-sm-12 module_cont pb75 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                          <div class="shortcode_promoblock">
                            <div class="promoblock_wrapper">
                              <div class="promo_text_block">
                                <div class="promo_text_block_wrapper">
                                	<h2 class="promo_text_main_titles">Inspiration </h2>
                                  <h6 class="promo_text_additional_titles">Individuellement, nous sommes une goutte d’eau. Ensemble, nous sommes un océan. « Ryunosuke SATORO »</h6>
                                </div>
                              </div>
                              <div class="promo_button_block"></div>
                              <div class="clear"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                      <div class="row">
                       	<div class="col-sm-12 module_cont pb0">
                        	<div class="bg_title">
                            <h2>Mot de Bienvenue</h2>
                          </div>
                        </div>
                      </div>

                        <div class="row">
						<div class="col-sm-6 module_cont pb30">
                                <div class="" data-anim-type="" data-anim-delay="">
                                        <div class="iconbox_wrapper">
                                            <div class="iconbox_body">
                                                <p>Femmes ivoiriennes, que vous viviez sur le territoire national ou à l’extérieur des frontières ivoiriennes, BIENVENUE sur le  site du <strong> Compendium des Compétences Féminines de Côte d’Ivoire </strong> qui est le vôtre.</p>
                                                <p>Chères toutes, il y a quelques années qu’est née l’idée de créer une plateforme pour recueillir et fournir aux autorités et décideurs, un document intelligent à même d’aider à identifier les compétences ivoiriennes confirmées. En somme, un outil d’aide à la décision. Elle  a été faite et améliorée <span>/ </span>Refaite  pour vous.</p>
<p>Ce nouveau site répondant aux exigences actuelles a été conçu par des ivoiriennes pour les ivoiriennes justifiant d’une compétence avérée, reconnue ou devant l’être. Il s’agit en Afrique du premier site  du genre.</p>
<p>Il se donne comme mission d’offrir la visibilité à des ivoiriennes compétentes où qu’elles soient, et  qui demeurent méconnues et par conséquent, sont peu ou pas sollicitées pour apporter leur contribution au développement de la Côte d’Ivoire.</p>

                                            </div>
                                        </div>
                            </div>
                        </div>

                            <div class="col-sm-6 module_cont pb74 animate" data-anim-type="fadeInRight" data-anim-delay="300">
                            	<div class="mr_220">
                            		<p>Ce site permettra de mettre en exergue toutes les valeurs de nature à conduire la « FEMME » à développer des compétences pointues et utiles à son propre épanouissement mais aussi  à son environnement sociétal.
</p>
<p>A présent, il vous revient de vous approprier ce site qui doit être pour nous toutes, une plateforme d’échange, de partage, d’information, en un mot, un réseau dynamique de convergence d’idées, de savoir, de savoir-faire et de savoir être.</p>
                                    <p> Chères toutes,  Comme le dirait <strong>Mme YAO Euphrasie </strong>, <blockquote><strong>« …OSONS, ENSEMBLE COMME S’IL ETAIT IMPOSSIBLE D’ECHOUER. »</strong></blockquote></p>
                                                <p>BONNE VISITE !!!</p>
                                </div>
                            </div>
                        </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb74 module_price_table items3">
                                <div class="price_table_wrapper">
                                    <div class="price_item animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5>Femme a la Une</h5>
                                                </div>
                                                <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <img src="<%= asset_path 'front/imgs/nevry.jpg' %>" alt="" width="420"/>
                                                    </div>
                                                </div>
                                                <div class="price_item_body">
                                                    <div>
                                                        <p><strong>Madame Rose KOFFI-NEVRY</strong></p>
                                                        <p>Enseignant-Chercheure, Professeur Titulaire, Microbiologiste à l’Unité de Formation et de Recherche des Sciences et Technologies des Aliments (UFR/STA) de l’Université  Nangui Abrogoua (UNA /Abidjan), spécialiste en hygiène et Sécurité Sanitaire des Aliments.
</p>
                                                    </div>
                                                   <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1"  href="femme.html" href="javascript:void(0);">Savoir Plus</a>
                                                   </div>
                                                </div>
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="price_item most_popular animate" data-anim-type="fadeIn" data-anim-delay="500">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5>Activités</h5>
                                              </div>
                                              <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <img src="<%= asset_path 'front/imgs/active_home.jpg' %>" alt="" height="176"/>
                                                    </div>
                                              </div>
                                              <div class="price_item_body">
                                                    <div class="">
                                                        <p><strong>Atélier de remise de l'annuaire</strong></p>
                                                        <p> Un atelier de présentation et de remise du premier annuaire s’est tenu le 1er octobre 2015 au siège de la Chaire UNESCO « Eau, Femmes et Pouvoir de Décisions » sis à la Riviera Faya. Cette cérémonie a eu lieu en présence des membres du COCOFCI, de ses partenaires et de la presse.</p>
                                                  </div>
                                                   <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="activite.html"; href="javascript:void(0)";>Savoir Plus</a></div>
                                             </div>

                                       	  </div>
                                        </div>
                                    </div>
                                    <div class="price_item animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5>Offres D'emploi</h5>
                                                </div>
                                                <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <img src="<%= asset_path 'front/imgs/job.jpg' %>" alt="" height="176"/>
                                                    </div>
                                                </div>
                                                <div class="price_item_body">
                                                    <p><strong>Offre d'emploi</strong></p>
                                                    <p> Le Compendium met a la disposition de ses internautes un espace de recherche d'emploi. Quelque soit votre metier et votre situation geographique, vous trouverez des offres qui vous donneras des chances d'accroitre vos chances de recevoir un entretien.</p>
                                                  <!--  <div class="price_item_text">Alias consequatur ut perferendis</div>
                                                    <div class="price_item_text">Quod maxime placeat possimus</div>
                                                    <div class="price_item_text">Sed eiusmod tempor incididunt</div>
                                                    <div class="price_item_text">Sed eiusmod tempor incididunt</div>-->
                                                    <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="coming_soon.html" href="javascript:void(0)">Savoir Plus</a></div>
                                                </div>
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>

                           <div class="fw_block bg_start grey_bg pt46 mb0">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb47 module_partners">
                                    <div class="pub_one">

                                        <a href="http://www.gouv.ci/banniere/adclick.php?bannerid=448&amp;zoneid=2&amp;source=&amp;dest=http%3A%2F%2Fbilan2011-2015.gouv.ci%2F" target="_blank"><img src="http://www.gouv.ci/banniere/adimage.php?filename=banniere_bilan.png&amp;contenttype=png" width="468" height="90" alt="" title="" border="0"> </a>
                                    </div>

                                    <div class="pub_two">
                                        <a href="http://www.gouv.ci/banniere/adclick.php?bannerid=448&amp;zoneid=2&amp;source=&amp;dest=http%3A%2F%2Fbilan2011-2015.gouv.ci%2F" target="_blank"><img src="http://www.gouv.ci/banniere/adimage.php?filename=banniere_bilan.png&amp;contenttype=png" width="468" height="90" alt="" title="" border="0"> </a>
                                    </div>
                                </div>
                             </div>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
