<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
    	<li><a href="<%= gallery_category_path %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une catégorie de galerie</span></a></li>
        <li><a href="<%= list_gallery_categories_path %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des catégories de galeries</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
