<p>Bonjour <b><%= "#{@resource.last_name} #{@resource.first_name}" %></b>,</p>

<br />

<p>Une requête de changement de mot de passe a été émise pour votre compte. Vous pouvez le faire via le lien ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas l'auteur de cette requête, veuillez ignorer cet email.</p>

<p><b>Votre mot de passe ne changera pas jusqu'à ce que vous cliquiez sur ce lien et en créiez un nouveau.</b></p>

<br />

<p><b>Administration COCOFCI</b>.</p>
